<%- include("header") -%>

<table id="tracker-table" class="table table-bordered">
  <thead>
		<tr>
			<th>Stage</th>
			<th>Company</th>
			<th>Role</th>
			<th>Date</th>
			<th>Interview Location</th>
			<th>Tasks</th>
			<th>Notes</th>
		</tr>
  </thead>
	<tbody>
		
	</tbody>
</table>

<%- include("footer") -%>